@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
body {
  /* font-family: "Dosis"; */
  font-family: "Rajdhani";
}

.NavbarBrand {
  font-size: 1.5rem;
  font-weight: bold;
  /* background-color: #fafafa; */
}
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}
.navbar-brand {
  color: #000000;
  text-decoration: none;
}
.navbar-brand:hover {
  color: #000000;
  text-decoration: none;
}
